<div class="container__bigcard">

    <div class="bigcard__foto">
            <img src="https://cdn.dribbble.com/userupload/4908730/file/original-9d08bb997931384dd37165a6ca0ce23a.png?compress=1&resize=1024x768" 
            alt=""
            height="200"
            width="400">
    </div>

    <div class="bigcard__titulo">
            <h1><a href="#">Saiu o novo jogo</a> </h1>
    </div>

    <div class="bigcard__texto">
            <p> <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae libero esse excepturi fuga numquam eos odit cum? Quas, asperiores, voluptates odit nesciunt vero officia earum obcaecati accusantium distinctio, aspernatur nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus consequatur quae fuga fugiat ad asperiores, non distinctio, cumque commodi sunt, blanditiis natus quis fugit quo voluptatibus! Porro, commodi reiciendis.</a> </p>
    </div>


</div>
