.container__bigcard{
   
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;

}

.bigcard__titulo > h1{
    margin-top: 10px;
    font-size: 50px;
}


.bigcard__texto > p {
     margin-top: 10px;
}


.bigcard__texto > p > a{
    color: grey;
    margin-top: 10px;
}

.bigcard__foto >img {
    width: 100%;
    height: 300px;
}