.container__menu__title{
    color: #fdfdfd;

}

.container__menu__title > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    

}

.container__menu__title > hr{
    margin-top: 20px;
    margin-bottom: 20px;
   

}