
<header>
    <app-menu-bar> </app-menu-bar>
</header>

<app-menu-title></app-menu-title>



<div class="container__artigos"> 
    <div class="artigo__principal">
       
        <app-bigcard 
        ID="1"
        Fotocapa="https://hermes.dio.me/articles/cover/cff80720-1713-48c1-901b-79dedba9d220.jpg"
        titulopag="Blockchain Permissionada no Brasil"
        cardDescricao="A tecnologia blockchain tem ganhado destaque nos últimos anos devido às suas características de segurança, transparência e descentralização. No entanto, enquanto a maioria das pessoas associa o blockchain a redes públicas como o Bitcoin, existe uma outra vertente conhecida como blockchain permissionada, que tem sido amplamente adotada por empresas e organizações no Brasil. "  ></app-bigcard>
       


    


    </div>
    
    <div class="outros__artigos">
        <app-smallcard2
        ID="2"
        Fotocapa="https://hermes.dio.me/articles/cover/d05d6ca2-3278-44e4-b872-f39de58cf3c1.jpg"
        titulopag="Ethereum: A Revolução da Tecnologia Blockchain"
        ></app-smallcard2>

        <app-smallcard3
        ID="3"
        Fotocapa="https://hermes.dio.me/articles/cover/b614f2f3-bb1b-4459-9483-d5528f9a9b4b.jpg"
        titulopag="O que é Tokenização de Ativos?"
        ></app-smallcard3>

        <app-smallcard4
        ID="4"
        Fotocapa="https://hermes.dio.me/articles/cover/5825cd4e-f701-4107-963e-60ea28becf34.png"
        titulopag="Ampliando os Horizontes: A Segunda Camada da Rede Ethereum"
        ></app-smallcard4>

      




       
    </div>
      
        

</div>

