<div class="container__Links">

<link rel="stylesheet" [id]="1" href="https://web.dio.me/articles/blockchain-permissionada-no-brasil?back=/articles">
<link rel="stylesheet" [id]="2" href="https://web.dio.me/articles/ethereum-a-revolucao-da-tecnologia-blockchain?back=/articles">
<link rel="stylesheet" [id]="3" href="https://web.dio.me/articles/o-que-e-tokenizacao-de-ativos?back=/articles">
<link rel="stylesheet" [id]="4" href="https://web.dio.me/articles/ampliando-os-horizontes-a-segunda-camada-da-rede-ethereum?back=/articles">



</div>
