
.container__smallcard4{
   
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.smallcard4__titulo > h1 > a{
    font-size: 35px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}




.smallcard4__foto >img {
    width: 200px;
    height: 155px;
    margin-right: 20px;
}